asn1crypto==0.24.0
boto==2.49.0
botocore==1.12.76
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
docutils==0.14
enum34==1.1.6
futures==3.2.0
gspread==3.1.0
httplib2==0.12.0
idna==2.8
ipaddress==1.0.22
jmespath==0.9.3
oauth2client==1.5.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.5
requests==2.21.0
rsa==4.0
s3transfer==0.1.13
six==1.12.0
urllib3==1.24.1
